# Geocoding EWF Map
<!-- Jeff Kaplan 11/3/2025 -->
<!-- Python 3.13.9 -->

In [ ]:
import requests
import pandas as pd
##--- if you're reusing this code, please put your name or other identifying info into the ---##
## --- user_agent variable below. ---##
## Nominatim usage policy: https://operations.osmfoundation.org/policies/nominatim/ ##
user_agent = 'jeff_kaplan'
# Path for concert CSV
concert_csv = "data/EWF_1979_Tour_Dates.csv"
output_csv = "data/EWF_1979_Tour_Dates_w_XY.csv"

In [ ]:
## Testing out the request format and saving to var 'response'
# test_city = "Worcester, Massachusetts, United States"
# base_url = "https://nominatim.openstreetmap.org/search?q='"
# url_suffix = "'&format=json"
# city_df = pd.DataFrame(columns=['City','X','Y''JSON_copy'])
# url = base_url + test_city + url_suffix
# payload = {}
# headers = {
#     'User-Agent': user_agent
# }
# response = requests.request("GET", url, headers=headers, data=payload)

In [ ]:
## testing json object to text conversion
# r_json = response.json()
# print (r_json)
# print(r_json[0]["lat"])

[{'place_id': 334854768, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright', 'osm_type': 'relation', 'osm_id': 1844209, 'lat': '42.2625621', 'lon': '-71.8018877', 'class': 'boundary', 'type': 'administrative', 'place_rank': 16, 'importance': 0.619797671699762, 'addresstype': 'city', 'name': 'Worcester', 'display_name': 'Worcester, Worcester County, Massachusetts, United States of America', 'boundingbox': ['42.2100397', '42.3411870', '-71.8840431', '-71.7312371']}, {'place_id': 338348964, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright', 'osm_type': 'relation', 'osm_id': 1838805, 'lat': '42.3705781', 'lon': '-71.8677242', 'class': 'boundary', 'type': 'administrative', 'place_rank': 12, 'importance': 0.5524988103529949, 'addresstype': 'county', 'name': 'Worcester County', 'display_name': 'Worcester County, Massachusetts, United States of America', 'boundingbox': ['42.0080530', '42.7215898', '-72.3158790', '-71.4780275']}]
42.2625621

In [ ]:
# Import CSV to dataframe
df = pd.read_csv(concert_csv)
# optionally display the df
# df

,Date,Band,Venue,City
0,"Jan 09, 1979","Earth, Wind & Fire Setlists",U.N. General Assembly Hall,"New York, New York, United States"
1,"Jan 15, 1979","Earth, Wind & Fire World Tour Spring",Rockefeller Center,"New York, New York, United States"
2,"Mar 01, 1979","Earth, Wind & Fire","New Bingley Hall, Staffordshire County Showground","Staffordshire, England, United Kingdom"
3,"Mar 02, 1979","Earth, Wind & Fire World Tour Spring",Bingley Hall,"Stafford, England, United Kingdom"
4,"Mar 03, 1979","Earth, Wind & Fire World Tour Spring",Wembley Arena,"London, England, United Kingdom"
...,...,...,...,...
74,"Dec 02, 1979","Earth, Wind & Fire I Am",Oakland-Alameda County Coliseum Arena,"Oakland, California, United States"
75,"Dec 03, 1979","Earth, Wind & Fire I Am",Oakland-Alameda County Coliseum Arena,"Oakland, California, United States"
76,"Dec 04, 1979","Earth, Wind & Fire Photos",Oakland-Alameda County Coliseum Arena,"Oakland, California, United States"
77,"Dec 05, 1979","Earth, Wind & Fire I Am",Cow Palace Arena & Event Center,"Daly City, California, United States"
78,"Dec 08, 1979","Earth, Wind & Fire I Am\n Setlists",The Forum,"Inglewood, California, United States"

In [6]:
# Pull list of unique cities from df
cities = df['City'].unique()
# print(cities)

In [ ]:
# Iterate through df and send address column
# Request code from Postman that returns a json with the coordinate results for each location

base_url = "https://nominatim.openstreetmap.org/search?q='"
url_suffix = "'&format=json"
city_df = pd.DataFrame(columns=['City','X','Y''JSON_copy'])
for i in cities:
    url = base_url + i + url_suffix
    payload = {}
    headers = {
      'User-Agent': user_agent
    }
    response = requests.request("GET", url, headers=headers, data=payload)
    r_json = response.json()
    if r_json[0]["lon"]:
        x = r_json[0]["lon"]
    else:
        x = 0
    if r_json[0]["lat"]:
        y = r_json[0]["lat"]
    else:
        y = 0
    new_row = pd.DataFrame({'City':[i], 'X':[x], 'Y':[y], "JSON_copy":[r_json]})
    city_df = pd.concat([city_df, new_row])
# optionally display city_df
city_df

,City,X,YJSON_copy,Y,JSON_copy
0,"New York, New York, United States",-74.0060152,NaN,40.7127281,"[{'place_id': 332900863, 'licence': 'Data © Op..."
0,"Staffordshire, England, United Kingdom",-2.0074547,NaN,52.8246942,"[{'place_id': 257634876, 'licence': 'Data © Op..."
0,"Stafford, England, United Kingdom",-2.1163818,NaN,52.8063157,"[{'place_id': 256343739, 'licence': 'Data © Op..."
0,"London, England, United Kingdom",-0.1440551,NaN,51.4893335,"[{'place_id': 262014749, 'licence': 'Data © Op..."
0,"Copenhagen, Capital Region, Denmark",12.5700724,NaN,55.6867243,"[{'place_id': 136836086, 'licence': 'Data © Op..."
0,"Frankfurt am Main, Hesse, Germany",8.6820917,NaN,50.1106444,"[{'place_id': 127038504, 'licence': 'Data © Op..."
0,"Essen, North Rhine-Westphalia, Germany",7.0158171,NaN,51.4582235,"[{'place_id': 105645138, 'licence': 'Data © Op..."
0,"Rotterdam, South Holland, Netherlands",4.4777500,NaN,51.9244424,"[{'place_id': 391208365, 'licence': 'Data © Op..."
0,"Brussels, Brussels Capital, Belgium",4.3516970,NaN,50.8465573,"[{'place_id': 96451607, 'licence': 'Data © Ope..."
0,"Paris, Île-de-France, France",2.3200410,NaN,48.8588897,"[{'place_id': 90003570, 'licence': 'Data © Ope..."
0,"Tokyo, Tokyo, Japan",139.7667060,NaN,35.6812546,"[{'place_id': 244731102, 'licence': 'Data © Op..."
0,"Fukuoka, Japan",130.6180016,NaN,33.6251241,"[{'place_id': 250675816, 'licence': 'Data © Op..."
0,"Kyoto, Kyoto, Japan",135.7584303,NaN,34.9846076,"[{'place_id': 248464891, 'licence': 'Data © Op..."
0,"Nagoya, Aichi, Japan",136.8998438,NaN,35.1851045,"[{'place_id': 245615927, 'licence': 'Data © Op..."
0,"Osaka, Ōsaka, Japan",135.4955732,NaN,34.7022133,"[{'place_id': 248619323, 'licence': 'Data © Op..."
0,"Honolulu, Hawaii, United States",-157.8556760,NaN,21.3045470,"[{'place_id': 390488914, 'licence': 'Data © Op..."
0,"Vorst / Forest, Belgium",5.0040955,NaN,51.0856371,"[{'place_id': 100833878, 'licence': 'Data © Op..."
0,"Stockholm, Stockholm, Sweden",18.0710935,NaN,59.3251172,"[{'place_id': 153942576, 'licence': 'Data © Op..."
0,"Verona, Veneto, Italy",10.9857377,NaN,45.4424977,"[{'place_id': 67139931, 'licence': 'Data © Ope..."
0,"St Louis, Missouri, United States",-90.1910154,NaN,38.6280278,"[{'place_id': 311347094, 'licence': 'Data © Op..."
0,"Greensboro, North Carolina, United States",-79.7919754,NaN,36.0726355,"[{'place_id': 320734267, 'licence': 'Data © Op..."
0,"Columbia, South Carolina, United States",-81.0352313,NaN,34.0007540,"[{'place_id': 315942612, 'licence': 'Data © Op..."
0,"Huntington, West Virginia, United States",-82.4451540,NaN,38.4192496,"[{'place_id': 315329898, 'licence': 'Data © Op..."
0,"Landover, Maryland, United States",-76.8815433,NaN,38.9253129,"[{'place_id': 398397443, 'licence': 'Data © Op..."
0,"Williamsburg, Virginia, United States",-76.7074042,NaN,37.2708788,"[{'place_id': 398772922, 'licence': 'Data © Op..."
0,"Springfield, Massachusetts, United States",-72.5886727,NaN,42.1018764,"[{'place_id': 334106980, 'licence': 'Data © Op..."
0,"Philadelphia, Pennsylvania, United States",-75.1635262,NaN,39.9527237,"[{'place_id': 331386626, 'licence': 'Data © Op..."
0,"Providence, Rhode Island, United States",-71.4128343,NaN,41.8239891,"[{'place_id': 334465335, 'licence': 'Data © Op..."
0,"New Haven, Connecticut, United States",-72.9250518,NaN,41.3082138,"[{'place_id': 328062890, 'licence': 'Data © Op..."
0,"Syracuse, New York, United States",-76.1474244,NaN,43.0481221,"[{'place_id': 326785077, 'licence': 'Data © Op..."
0,"Buffalo, New York, United States",-78.8783922,NaN,42.8867166,"[{'place_id': 325515204, 'licence': 'Data © Op..."
0,"Toronto, Ontario, Canada",-79.3839347,NaN,43.6534817,"[{'place_id': 323677062, 'licence': 'Data © Op..."
0,"Detroit, Michigan, United States",-83.0466403,NaN,42.3315509,"[{'place_id': 343896903, 'licence': 'Data © Op..."
0,"Dayton, Ohio, United States",-84.1916069,NaN,39.7589478,"[{'place_id': 419029413, 'licence': 'Data © Op..."
0,"Richfield, Ohio, United States",-81.6381785,NaN,41.2397772,"[{'place_id': 340737118, 'licence': 'Data © Op..."
0,"Chicago, Illinois, United States",-87.6244212,NaN,41.8755616,"[{'place_id': 341243343, 'licence': 'Data © Op..."
0,"Louisville, Kentucky, United States",-85.7594070,NaN,38.2542376,"[{'place_id': 406838992, 'licence': 'Data © Op..."
0,"Nashville, Tennessee, United States",-86.7742984,NaN,36.1622767,"[{'place_id': 311190767, 'licence': 'Data © Op..."
0,"Birmingham, Alabama, United States",-86.8024326,NaN,33.5206824,"[{'place_id': 315533564, 'licence': 'Data © Op..."
0,"Pensacola, Florida, United States",-87.2169149,NaN,30.4213090,"[{'place_id': 280454949, 'licence': 'Data © Op..."
0,"Baton Rouge, Louisiana, United States",-91.1869659,NaN,30.4494155,"[{'place_id': 279348001, 'licence': 'Data © Op..."
0,"Austin, Texas, United States",-97.7436995,NaN,30.2711286,"[{'place_id': 293970680, 'licence': 'Data © Op..."
0,"Houston, Texas, United States",-95.3676974,NaN,29.7589382,"[{'place_id': 281596571, 'licence': 'Data © Op..."
0,"University Park, Texas, United States",-96.7919454,NaN,32.8551267,"[{'place_id': 311910326, 'licence': 'Data © Op..."
0,"Atlanta, Georgia, United States",-84.3898151,NaN,33.7544657,"[{'place_id': 316157754, 'licence': 'Data © Op..."
0,"Indianapolis, Indiana, United States",-86.1583502,NaN,39.7683331,"[{'place_id': 394448178, 'licence': 'Data © Op..."
0,"Kansas City, Missouri, United States",-94.5781416,NaN,39.1001050,"[{'place_id': 313823574, 'licence': 'Data © Op..."
0,"Denver, Colorado, United States",-104.9848620,NaN,39.7392364,"[{'place_id': 390329908, 'licence': 'Data © Op..."
0,"Ogden, Utah, United States",-111.9738429,NaN,41.2230048,"[{'place_id': 301671623, 'licence': 'Data © Op..."
0,"Inglewood, California, United States",-118.3531320,NaN,33.9562003,"[{'place_id': 292947953, 'licence': 'Data © Op..."
0,"San Diego, California, United States",-117.1627720,NaN,32.7174202,"[{'place_id': 395280514, 'licence': 'Data © Op..."
0,"Vancouver, British Columbia, Canada",-123.1139520,NaN,49.2608724,"[{'place_id': 347077112, 'licence': 'Data © Op..."
0,"Seattle, Washington, United States",-122.3300620,NaN,47.6038321,"[{'place_id': 301177253, 'licence': 'Data © Op..."
0,"Pullman, Washington, United States",-117.1738950,NaN,46.7304268,"[{'place_id': 303541020, 'licence': 'Data © Op..."
0,"Spokane, Washington, United States",-117.4235100,NaN,47.6571934,"[{'place_id': 302241806, 'licence': 'Data © Op..."
0,"Oakland, California, United States",-122.2713560,NaN,37.8044557,"[{'place_id': 301743710, 'licence': 'Data © Op..."
0,"Daly City, California, United States",-122.4726700,NaN,37.6904826,"[{'place_id': 300096044, 'licence': 'Data © Op..."

In [10]:
# Join XY coordinates from City_df to df
join_df = df.set_index('City').join(city_df.set_index('City'))

# export to csv
join_df.to_csv(output_csv)